<div id="<%= dom_id articulo %>">
  <p>
    <strong>Nombre:</strong>
    <%= articulo.nombre %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= articulo.tipo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= articulo.marca_id %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= articulo.precio %>
  </p>

</div>
