<%= form_with(model: articulo) do |form| %>
  <% if articulo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>
      <ul>
        <% articulo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>

<!--   <div>
    <%= form.label :marca_id, style: "display: block" %>
    <%= form.text_field :marca_id %>
  </div>
-->
<div>
    <%= form.label :marca_id, style: "display: block" %>
<%= form.collection_select :marca_id, Marca.all, :id, :nombre %>
</div>
  <div>
    <%= form.label :precio, style: "display: block" %>
    <%= form.number_field :precio %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
